* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #202020;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.bodyContainer {
  width: 98%;
  background-color: #181818;
  z-index: 100;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
}

